@import "tailwindcss";

/* Asegura que Tailwind escanee todos los archivos en src/ */
@source "../**/*.{ts,tsx}";

@layer base {
  html,
  body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
